<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- Têtes des machines de fabrication -->
      <add key="tete1f" value="1"/>
      <add key="tete2f" value="1"/>
      <add key="tete3f" value="1"/>
      <add key="tete4f" value="1"/>
      <add key="tete5f" value="1"/>
      
      <!-- Têtes des machines de conditionnement -->
      <add key="tete1c" value="1"/>
      <add key="tete2c" value="1"/>
      <add key="tete3c" value="1"/>
      <add key="tete4c" value="1"/>
      <add key="tete5c" value="1"/>
      <add key="tete6c" value="1"/>

    </appSettings>
</configuration>